{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <div class="mb-5 text-md-center font-weight-bold">{{ time|date:'Y년 m월 d일' }}</div>
        <!-- <a href="{% url 'excel_export' %}">Export to Excel</a> -->
        <button class="btn btn-primary mb-2 float-right" onclick="location.href='/board/%5Eexport/xls/$'">엑셀 다운로드</button>
        <table class="table">
            <thead>
                <tr>
                    <th>기간</th>
                    <th>업체명</th>
                    <th>직책</th>
                    <th>이름</th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards %}
                    {% if board.start_date|date:'Ymd' <= time|date:'Ymd' and board.end_date|date:'Ymd' >= time|date:'Ymd' %}
                    <tr onclick="location.href='/board/detail/{{ board.id }}'" style="cursor: pointer;">
                        <th>{{ board.start_date|date:'Y.m.d (D)' }} ~ {{ board.end_date|date:'Y.m.d (D)' }}</th>
                        <th>{{ board.company }}</th>
                        <th>{{ board.position }}</th>
                        <th>{{ board.guest_name }}</th>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary" onclick="location.href='/board/write/'">등록</button>
    </div>
</div>

<!-- <script>
    let today = new Date();

    let year = today.getFullYear(); // 년도
    let month = today.getMonth() + 1; // 월
    let day = today.getDate(); // 일
    
    document.getElementById('today').innerHTML = year + '년 ' + month + '월' + day + '일';
</script> -->

{% endblock %}