{% extends "base.html" %}

{% block contents %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>일시</th>
                    <th>업체명</th>
                    <th>직책</th>
                    <th>이름</th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards %}
                <tr>
                    <th>{{ board.id }}</th>
                    <th>{{ board.start_day|date:'Y.m.d (D)' }}</th>
                    <th>{{ board.company }}</th>
                    <th>{{ board.position }}</th>
                    <th>{{ board.guest_name }}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <button class="btn btn-primary">등록</button>
    </div>
</div>
{% endblock %}